<%- include("header") -%>

<div class="container">
  <div class="row">
    <div class="col-md-12 title-card">
      <h1>To Do List</h1>
      <p style="color:white">Add new items to your to do list and check them off when completed.<br>
        Type "/" + your own list name in the address bar above to create a new list.
         </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="box" id="heading">
    <h1 class=""> <%= listTitle %> </h1>
  </div>

  <div class="box" id="list">
    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="post">


      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
        <p><%=  item.name  %></p>
      </div>
        <input type="hidden" name="listName" value="<%=listTitle%>">
      </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

</div>


  <p id="trademark">Dan McCall 2019</p>


<%- include("footer") -%>
