<%- include("header") -%>

  <header>
    <h1 class=>To Do List Creator</h1>
    <!-- <p>
      Add items to your To Do List!
      Type your new task in the "New Item" field and click the "plus" button to add the item to your list.
      To cross off something in your list, click the checkbox to the left of the item.
      To create a new list, type a "/" and then your list name.
      </p> -->
  </header>


  <div class="box" id="heading">
    <h1 class=""> <%= listTitle %> </h1>
  </div>

  <div class="box" id="list">
    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="post">


      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
        <p><%=  item.name  %></p>
      </div>
        <input type="hidden" name="listName" value="<%=listTitle%>">
      </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
